{% extends "base.html" %}
{% block title %}Workshop Venues - About{% endblock %}
{% block menu %}
	<ul class="nav nav-justified">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
{% endblock %}

{% block content %}
	<h2>Our Mission</h2>
	<p>
		I (Andrea) started organizing events/workshops in 2000 and I did for at least 12 years, so I'm perfectly aware of the difficoulty of finding a proper place where to organize one. Workshop Venues aims to be a service where people can <strong>look</strong> for a venue, <strong>compare</strong> characteristics and prices, write <strong>reviews</strong> and submit new venues.
	</p>
	<p>
		We want to provide also a <strong>rest API</strong> for anyone who wants to build an application based on our service or just to access our data. Venues data can be submitted by everyone who use our service, so we belive that it should be accessible by anyone as well.
	</p>
	<h2>Why we do it (really)</h2>
	<p>Other than trying to provide a useful service, our intent is to improve our <strong>Python/Django skills</strong>, experiment with technologies and libraries that can be useful for our everyday job and, last but not least, because we think it's funny to code together.</p>
	<h2>Our Team</h2>
	<div class="row">
		<div class="col-lg-4">
	    	<center><h3>Andrea Grandi</h3></center>
	      	<p>Software engineer, recently moved to London to work as <strong>Python/Django</strong> developer at <a href="http://www.thisisglow.com">Glow</a>. Active in many different communities (Ubuntu, MeeGo, BlackBerry, Windows Phone, Arduino) and strong supporter and advocate of opensource software.</p>
	      	<center>
	      		<ul class="list-inline">
  					<li><a href="https://github.com/andreagrandi">GitHub</a></li>
  					<li><a href="https://twitter.com/andreagrandi">Twitter</a></li>
  					<li><a href="http://uk.linkedin.com/in/andreagrandi/">LinkedIn</a></li>
				</ul>
			</center>
	    </div>
	    <div class="col-lg-4">
	      	<center><h3>Francesco Sarracco</h3></center>
	      	<p>Software engineer, always seeking to learn anything new about technologies and programming languages. Currently working on different projects in different developing fields (<strong>Python/Django</strong> and <strong>Android</strong>) and about to move to London.</p>
	      	<center>
	      		<ul class="list-inline">
	  				<li><a href="https://github.com/frysay">GitHub</a></li>
  					<li><a href="http://it.linkedin.com/pub/francesco-sarracco/65/838/828">LinkedIn</a></li>
				</ul>
			</center>
	   </div>
	    <div class="col-lg-4">
	      	<center><h3>Valerio Del Meglio</h3></center>
	      	<p>Computer science graduate. Real passionate about technologies and music and always eager to learn new stuff.</p>
	      	<center>
	      		<ul class="list-inline">
  					<li><a href="https://github.com/valdelmeglio">GitHub</a></li>
  					<li><a href="http://it.linkedin.com/pub/valerio-del-meglio/5a/600/b57">LinkedIn</a></li>
				</ul>
			</center>
	    </div>
	</div>
{% endblock %}
