#!/usr/bin/python

# Rename this file to secrets.py and fill it with your configuration

admin_name = ''
admin_email = ''
db_engine = 'django.db.backends.'	# Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
db_name = ''
db_user = ''
db_password = ''
db_host = ''
db_port = ''
secret_key = ''
static_root = ''
static_url = '/assets/'
staticfiles_dirs = (os.path.join(PROJECT_PATH, 'assets'),)
