# All the settings are now read from env variables.
# Before running the project you need to seet them all in your environment.
# On Linux: change the values accordin to your own settings and put these lines in .bashrc or
#			in the activate script of virtualenv.
# On Heroku: heroku config:add WORKSHOPVENUES_ADMIN_NAME="Your Name"

export WORKSHOPVENUES_ADMIN_NAME="Your Name"
export WORKSHOPVENUES_ADMIN_EMAIL="youremail@provider.com"
export WORKSHOPVENUES_DB_ENGINE="django.db.backends.postgresql_psycopg2"
export WORKSHOPVENUES_DB_NAME="workshopvenues"
export WORKSHOPVENUES_DB_USER="username"
export WORKSHOPVENUES_DB_PASSWORD="password"
export WORKSHOPVENUES_DB_HOST="localhost"
export WORKSHOPVENUES_DB_PORT=5432
export WORKSHOPVENUES_STATIC_ROOT="" 
export WORKSHOPVENUES_STATIC_URL="/static/" 
export WORKSHOPVENUES_STATICFILES_ASSETS="static" 
export WORKSHOPVENUES_SECRET_KEY=""
export WORKSHOPVENUES_DEBUG="True"
export WORKSHOPVENUES_ALLOWED_HOSTS="*"
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
export AWS_STORAGE_BUCKET_NAME=''
