{% extends "base.html" %}
{% block title %}Workshop Venues{% endblock %}

{% block menu %}
{% include "navigation.html" %}
{% endblock %}

{% block content %}
<h1>Venues</h1>
{% if venues %}
	<div class="row">
		{% for venue in venues %}
			<div class="col-lg-4">
		        <a href="/venues/{{ venue.id }}/">{{ venue.name }}</a>
		        <p>{{ venue.address }}</p>
		        <p>{{ venue.postcode }}</p>
		        <p>{{ venue.phone }}</p>
		    </div>
		{% endfor %}
    </div>
{% else %}
    <p>No venues are available.</p>
{% endif %}
{% endblock %}
